

/* Small to Medium Screen */
@media (max-width: 991px) 
{
 

    /* Display Temp */
    .display-temp .city-temp {display: block !important;}

    .display-temp #search-bar {margin-bottom: 10px !important;}

    .display-temp .search,
    .display-temp .temp-card {
        width: 100%;
        margin: 20px 0 !important;
    }

    
}





